
body {
    background-color: azure;
    background-image: url("background.jpg");
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
text-align: center;
color:#3D3D3D;
}

footer {
    color: azure;
    text-align: center;
    background-color: #3D3D3D;
    position: fixed;
    padding: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
}

#mainContainer{
    text-align: center;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;*/
    display: grid;
    align-content: center;
    justify-content: stretch;
    align-self: center;
    border: 6px solid rgb(175, 175, 175);
    background-color: dimgrey;
    max-width: 500px;
    min-height: 500px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px #3D3D3D;
    
}

input[type=button] {
    background-color: #3D3D3D;
    color: azure;
    padding: 30px;
    border-radius: 10px;
    font-size: 30px;
    width: 15%;
    text-align: center;
    
}

input[type=button]:hover {
    background-color: aliceblue;
    color: #3D3D3D;
}

#displayNum {
    text-align: right;
    font-size: 16px;
    width: 470px;
    height: 30px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 5px;
    background-color: #3D3D3D;
    color: azure;
    /*margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;*/
}

.lastRow {
    margin-top: -5px;
    margin-bottom: 20px;
}